/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin:0;padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* global color */
:root{
    --bg-color:black;
    --secondary-color:goldenrod;
    --main-color:red;
    --text-color:white;
}

/* customize scrollbar */
html::-webkit-scrollbar{
    background-color: var(--bg-color);
    width:5px;
}

html::-webkit-scrollbar-thumb{
    background-color:var(--secondary-color);
    border-radius: 20%;
}

::selection{
    color:var(--bg-color);
    background-color: var(--secondary-color);
}

body{
    background-color: var(--bg-color);
    color:var(--text-color);
}

/* navBar start */
.navBar{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2vh 3vw;
    position: sticky;
    top:0px;
    z-index: 100;
    box-shadow: 0px 1px 5px rgb(193, 185, 185);
}

.leftNavBar{
    font-family: 'Silkscreen', sans-serif;
    font-size: 2.5em;
    text-shadow: 3px 2px 8px black;
    font-weight: 900;
}

.rightNavBar{
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 3px 2px 5px black;
}

.fa-solid{
    margin-right: 2px;
}
/* navBar end */

/* intro start */
.intro{
    width:90%;
    margin:10px auto;
}

.intro h2{
    font-size:2em;
    margin:25px 0px 10px 0px;
    text-shadow: 1px 1px 5px rgb(220, 220, 220);
}

.intro h3{
    font-size: 1.4em;
    margin:20px 0px 5px 0px;
}

.intro h4{
    font-size: 1.1em;
    margin:0px 0px 30px 0px;
}
/* intro end */

/* auth start */
    .title{
        width:90%;
        margin:15px auto 0px auto;
        font-size: 1.8em;
        border-bottom: 1px solid var(--main-color);
    }

    .title span{
        font-size: 0.6em;
    }

    .auth{
        width:90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin:auto;
        padding:20px 0px;
    }

    .authCard{
        width:45%;
        background-color: var(--secondary-color);
        margin:10px auto;
        box-shadow: 5px 4px 5px rgb(71, 71, 71);
        border-radius: 10px;
        text-align: center;
    }

    .authCard video{
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 1px 5px rgb(71, 71, 71);
    }

    .authCard p{
        font-size: 1.1em;
        color:var(--bg-color);
        font-weight: 900;
        width:95%;
        margin:12px auto;
    }
/* auth end */

/* responsive start */
@media (max-width:1000px) {
    .intro h2{
        font-size:1.8em;
    }

    .intro h3{
        font-size: 1.2em;
    }

    .intro h4{
        font-size: 1em;
    }
}
@media (max-width:950px) {
    .leftNavBar{
        font-size: 2.1em;
    }

    .rightNavBar{
        font-size: 1.1em;
    }

    .title{
        font-size: 1.5em;
        margin:10px auto 0px auto;
    }

    .authCard{
        margin:5px auto 10px auto;
    }

    .authCard p{
        font-size: 1em;
    }
}

@media (max-width:900px) {
    .leftNavBar{
        font-size: 2em;
    }

    .intro h2{
        font-size:1.5em;
    }

    .intro h3{
        font-size: 1em;
    }

    .intro h4{
        font-size: 0.9em;
    }

    .title{
        font-size: 1.2em;
    }

    .title span{
        font-size: 0.7em;
    }

    .authCard p{
        font-size: 0.9em;
    }
}

@media (max-width:800px) {
    .navBar{
        padding:1vh 2vw;
    }

    .leftNavBar{
        font-size: 1.8em;
    }

    .rightNavBar{
        font-size: 1em;
    }
}

@media (max-width:700px) {
    .intro h2{
        font-size:1.3em;
    }

    .intro h3{
        font-size: 0.9em;
    }

    .intro h4{
        font-size: 0.8em;
    }
}

@media (max-width:650px) {
    .leftNavBar{
        font-size: 1.6em;
    }

    .rightNavBar{
        font-size: 0.95em;
    }

    .title{
        font-size: 1.1em;
    }

    .authCard p{
        font-size: 0.8em;
    }
}

@media (max-width:600px) {

    .intro h2{
        font-size:1em;
        margin:20px 0px 10px 0px;
    }

    .intro h3{
        font-size: 0.7em;
        margin:10px 0px 5px 0px;
    }

    .intro h4{
        font-size: 0.6em;
    }

    .authCard{
        width:90%;
    }
}

@media (max-width:500px) {
    .leftNavBar{
        font-size: 1.4em;
    }

    .rightNavBar{
        font-size: 0.85em;
    }

    .title{
        font-size: 1em;
    }
}

@media (max-width:350px) {
    .leftNavBar{
        font-size: 1.3em;
    }

    .rightNavBar{
        font-size: 0.7em;
    }

    .title{
        font-size: 0.9em;
    }

    .authCard p{
        font-size: 0.75em;
    }
}

@media (max-width:280px) {
    .intro h2{
        font-size:0.8em;
    }

    .intro h3{
        font-size: 0.5em;
    }

    .intro h4{
        font-size: 0.4em;
    }
}
/* responsive end */